@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic");



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
}

ol, ul {
    list-style: none;
}

input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* Tipograf铆a y Estilos Basicos */

    html {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        background: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300; 
        font-size: 17pt;
        line-height: 1.75em;
        color: #888;
        -webkit-text-stroke: 0.1px;
    }

    strong, b {
        font-weight: 700;
    }

    .dark {
        color: rgba(255, 255, 255, 0.65);
    }

    h1, h2, h3, h4, h5, h6 {
        color: #04db04;
        margin: 0 0 1em 0;
        font-weight: 300; 
        line-height: 1.5em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    }

        .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
            color: #fff;
        }
    
    a {
        /* Mantenemos la transici贸n de color/borde para un hover suave */
        -moz-transition: border-bottom-color 0.25s ease-in-out;
        -webkit-transition: border-bottom-color 0.25s ease-in-out;
        -ms-transition: border-bottom-color 0.25s ease-in-out;
        transition: border-bottom-color 0.25s ease-in-out;
        color: inherit;
        text-decoration: none;
        border-bottom: dotted 1px rgba(0, 0, 0, 0.25);
    }

        .dark a {
            color: #fff;
            border-bottom-color: rgba(255, 255, 255, 0.5);
        }

    p, ul, ol, dl, table {
        margin-bottom: 1em;
    }

    header {
        margin-bottom: 1em;
    }

/* Contenedor y Media Queries */
.container {
        margin: 0 auto;
        max-width: 100%;
        width: 1360px;
    }

        .container.medium {
            width: 1020px;
        }

        @media screen and (max-width: 1680px) {
            .container { width: 1200px; }
                .container.medium { width: 900px; }
        }

        @media screen and (max-width: 1280px) {
            .container { width: 960px; }
                .container.medium { width: 720px; }
        }

        @media screen and (max-width: 1000px) {
            .container { width: 100% !important; }
        }


/* Sistema de Rejilla (Row y Col) */

    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
        margin-top: -25px; 
        margin-left: -25px;
    }

        .row > * {
            box-sizing: border-box;
            padding: 25px 0 0 25px; 
        }
        
        /* Columnas Desktop */
        .row > .col-4 { width: 33.33333%; }
        .row > .col-6 { width: 50%; }
        .row > .col-12 { width: 100%; }

        /* Gutter Espec铆fico */
        .row.gtr-50 { margin-top: -25px; margin-left: -25px; } 
            .row.gtr-50 > * { padding: 25px 0 0 25px; }

/* Formularios */

    input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        border: none;
        color: inherit;
        display: block;
        outline: 0;
        padding: 0 1em;
        text-decoration: none;
        width: 100%;
        height: 2.75em;
    }
    
    label {
        color: #fff;
        cursor: default;
        display: block;
        font-size: 0.9em;
        font-weight: 400;
        margin: 0 0 0.5em 0;
    }

    /* Estilos espec铆ficos para el formulario de registro (para que resalte sobre el fondo) */
    #registro input[type="text"], 
    #registro input[type="number"], 
    #registro select {
        background: #fff; /* Fondo blanco */
        color: #333; /* Texto oscuro para el campo principal */
    }

    #registro label {
        color: #fff; 
    }

    #registro select option {
        background: #fff; 
        color: #333;
    }

    .select {
        position: relative;
    }

    .select:before {
        content: '\f078';
        font-family: 'fontawesome-all';
        position: absolute;
        right: 0.5em;
        top: 0;
        line-height: 2.75em;
        color: rgba(0, 0, 0, 0.15);
        z-index: 10;
    }
    
    .button {
        /* A帽adimos transici贸n para que el hover del bot贸n sea suave */
        transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
        background: #3c93d5;
        border-radius: 4px;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8em;
        font-weight: 400;
        height: 3.5em;
        line-height: 3.5em;
        outline: 0;
        padding: 0 1.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

        .button:hover {
            background: #4ca3e5;
            color: #fff !important;
        }

        .button.alt {
            background: transparent;
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
            color: #fff;
        }

        .button.alt:hover {
            background: rgba(255, 255, 255, 0.1);
            color: #fff !important;
        }

    ul.actions {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
        ul.actions.special {
            justify-content: center; /* Centrar acciones especiales como los botones de navegaci贸n */
            margin-top: 2em;
        }

        ul.actions li {
            padding: 0 0 0 1em;
            vertical-align: middle;
        }

            ul.actions li:first-child {
                padding-left: 0;
            }
/* Secciones y Fondos */

    section {
        padding: 6em 0;
    }

        section.main {
            padding: 0;
        }

            section.main > header {
                padding: 4em 0;
                text-align: center;
            }

            section.main > .content {
                padding: 4em 0;
            }

                section.main > .content.style1 {
                    background: #004301; 
                }

                section.main > .content.style2 {
                    background: #004d15; 
                }

                section.main > .content.style3 {
                    background: #007c1b; 
                }

/* Header (Principal) */

    #header {
        position: relative;
        padding: 6em 0;
        background: #004d15 url("img/Zoo.jpeg") no-repeat center center; 
        background-size: cover;
        color: #fff;
        text-align: center;
    }
    

        #header:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(54, 65, 52, 0.85); 
            z-index: 0;
        }
        

        #header > * {
            position: relative;
            z-index: 1;
        }

        #header h1 {
            font-size: 4.5em; 
            font-weight: 100;
            line-height: 1em; 
            margin-bottom: 0.25em; 
            
            /* Animaci贸n de entrada: Inicia oculto y fuera de pantalla */
            opacity: 0; 
            transform: translateY(-50px); 
            animation: slideInFromTop 1s ease-out 0.5s forwards; 
        }

        #header p {
            font-size: 1.2em;
            font-weight: 400; 
            color: rgba(255, 255, 255, 0.9); 
            margin-bottom: 3em; 
        }
        
        #nav-principal ul {
            display: flex;
            justify-content: center;
            margin-bottom: 2em;
        }
        
        #nav-principal li {
            padding: 0 1em;
        }


/* Dashboard de M茅tricas */

#dashboard .metrica-card article {
    background-color: #f1f1f1;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    
    /* Transici贸n para el hover */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#dashboard .metrica-card article:hover {
    transform: translateY(-5px); /* Efecto de elevaci贸n */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra m谩s fuerte */
}

#dashboard h3 {
    font-size: 1.2em;
    font-weight: 400;
    color: #444;
    margin-bottom: 0.5em;
}

#dashboard p {
    font-size: 3em;
    font-weight: 100;
    color: #000;
    line-height: 1em;
    text-align: center;
}

/* Footer y Copyright */
    #footer {
        padding: 4em 0;
        text-align: center;
        background: #333;
        color: rgba(255, 255, 255, 0.5);
    }

        #footer .copyright {
            font-size: 0.8em;
            color: rgba(255, 255, 255, 0.3);
        }
        
/* Estilos para la tabla de animales (creada por JS) */
#listado-animales table {
    width: 100%;
    margin-bottom: 1em;
    color: #fff;
    border-collapse: collapse;
}

#listado-animales th, #listado-animales td {
    padding: 0.75em;
    text-align: left;
    border: solid 1px rgba(255, 255, 255, 0.1);
}

#listado-animales thead {
    background: rgba(255, 255, 255, 0.05);
    font-weight: 400;
}

#listado-animales tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.02);
}

#listado-animales .accion-col {
    text-align: center;
    width: 25%; /* Ajustado para 2 botones */
}

/* Estilo para resaltar la salud cr铆tica */
#listado-animales .text-critico {
    background-color: #cc0000; /* Fondo rojo oscuro */
    color: #fff; /* Texto blanco */
    font-weight: 700;
}

#listado-animales .boton-eliminar {
    background: #d53c3c;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 0.7em;
    font-weight: 400;
    cursor: pointer;
    margin-left: 0.5em; /* Espacio entre botones */
}

#listado-animales .boton-eliminar:hover {
    background: #e54c4c;
}
#listado-animales .boton-actualizar {
    background: #3c93d5;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 0.7em;
    font-weight: 400;
    cursor: pointer; 
}
#listado-animales .boton-actualizar:hover {
    background: #4ca3e5;
}



/* MEDIA QUERY: AJUSTES PARA DISPOSITIVOS MVILES (MX. 736px) */


@media screen and (max-width: 736px) { 
    
    /* 1. Resetear el tama帽o de la tipograf铆a base para m贸vil */
    body {
        font-size: 14pt; 
    }

    /* 2. Reducir el padding de las secciones */
    section {
        padding: 4em 0; 
    }

    /* 3. Colapsar todas las columnas al 100% */
    .row > .col-12-narrow, 
    .row > .col-6-narrow,
    .row > .col-4-narrow,
    /* Aplicar a todas las columnas usadas */
    .row > .col-4, 
    .row > .col-6, 
    .row > .col-12 { 
        width: 100% !important; 
    }
    
    /* 4. Reducir el espaciado (Gutter) entre filas y columnas */
    .row { 
        margin-top: -15px;
        margin-left: -15px; 
    }
    .row > * { 
        padding: 15px 0 0 15px; 
    }
    
    /* 5. Ajustar el header principal */
    #header {
        padding: 4em 0; 
    }
    #header h1 {
        font-size: 3em; 
    }

    /* 6. Ajustar la navegaci贸n */
    #nav-principal ul {
        flex-direction: column; 
    }
    #nav-principal li {
        padding: 0.5em 0; 
    }

    /* 7. Ajustar la tabla (para evitar desbordes) */
    #listado-animales .content {
        overflow-x: auto; /* Permite scroll horizontal */
    }
    #listado-animales table {
        min-width: 650px; /* Asegura que la tabla no se rompa */
        display: block; /* Para permitir el scroll horizontal */
    }
    #listado-animales .accion-col {
        min-width: 150px; /* Asegura que haya espacio para los dos botones */
        width: auto;
    }
    
    /* Ajustar los botones de acci贸n para que se apilen si es necesario */
    #listado-animales .boton-actualizar, 
    #listado-animales .boton-eliminar {
        display: block;
        margin: 0.25em auto;
    }
    
    /* Ajustar acciones especiales (botones de navegaci贸n entre secciones) */
    ul.actions.special {
        flex-direction: column;
    }
    ul.actions.special li {
        padding: 0.5em 0;
    }
}

/* ========================================================== */
/*  DEFINICIN DE ANIMACIONES CSS (KEYFRAMES) */
/* ========================================================== */

/* 1. Animaci贸n: Deslizar el t铆tulo desde arriba (Header) */
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 2. Animaci贸n Opcional: Pulso en el bot贸n de registro (para llamar a la acci贸n) */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(60, 147, 213, 0.4);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(60, 147, 213, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(60, 147, 213, 0);
    }
}

/* Aplicar la animaci贸n opcional al bot贸n principal de registro */
#registro input[type="submit"] {
    animation: pulse 2s infinite;
}