@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic");



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
}

ol, ul {
    list-style: none;
}

input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* Tipografía y Estilos Básicos */

    html {
        box-sizing: border-box;
        scroll-behavior: smooth; 
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        
        background: url(img/FondoHojas.jpg) no-repeat center center fixed; 
        background-size: cover;
        font-family: 'Roboto', sans-serif;
        font-weight: 300; 
        font-size: 17pt;
        line-height: 1.75em;
        color: #ffffff;
        -webkit-text-stroke: 0.1px;
    }

    strong, b {
        font-weight: 700;
    }

    .dark {
        color: rgba(255, 255, 255, 0.65);
    }

    h1, h2, h3, h4, h5, h6 {
        color: #127212;
        margin: 0 0 1em 0;
        font-weight: 300; 
        line-height: 1.5em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-family: "Bebas Neue", sans-serif;
    }

        .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
            color: #fff;
        }
    
    a {
        -moz-transition: border-bottom-color 0.25s ease-in-out;
        -webkit-transition: border-bottom-color 0.25s ease-in-out;
        -ms-transition: border-bottom-color 0.25s ease-in-out;
        transition: border-bottom-color 0.25s ease-in-out;
        color: inherit;
        text-decoration: none;
        border-bottom: dotted 1px rgba(255, 255, 255, 0.25);
    }

        .dark a {
            color: #fff;
            border-bottom-color: rgba(255, 255, 255, 0.5);
        }

    p, ul, ol, dl, table {
        margin-bottom: 1em;
    }

    header {
        margin-bottom: 1em;
    }

/* Contenedor y Media Queries */
.container {
        margin: 0 auto;
        max-width: 100%;
        width: 1360px;
        
     
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        
       
        border-top: solid 1px rgba(255, 255, 255, 0.4);
        border-left: solid 1px rgba(255, 255, 255, 0.4);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3); 
        box-sizing: border-box;
        padding: 0.5px;
    }

        .container.medium {
            width: 1020px;
        }

        @media screen and (max-width: 1680px) {
            .container { width: 1200px; }
                .container.medium { width: 900px; }
        }

        @media screen and (max-width: 1280px) {
            .container { width: 960px; }
                .container.medium { width: 720px; }
        }

        @media screen and (max-width: 1000px) {
            .container { width: 100% !important; }
        }


/* Row y Col */

    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
        margin-top: -25px; 
        margin-left: -25px;
    }

        .row > * {
            box-sizing: border-box;
            padding: 25px 0 0 25px; 
        }
        
       
        .row > .col-4 { width: 33.33333%; }
        .row > .col-6 { width: 50%; }
        .row > .col-12 { width: 100%; }

      
        .row.gtr-50 { margin-top: -25px; margin-left: -25px; } 
            .row.gtr-50 > * { padding: 25px 0 0 25px; }

/* Formularios */

    input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
        background: rgba(0, 0, 0, 0.3); 
        border-radius: 4px;
        border: none;
        color: #fff; 
        display: block;
        outline: 0;
        padding: 0 1em;
        text-decoration: none;
        width: 100%;
        height: 2.75em;
    }
    
    label {
        color: #fff;
        cursor: default;
        display: block;
        font-size: 0.9em;
        font-weight: 400;
        margin: 0 0 0.5em 0;
    }

    /* Estilos específicos para el formulario de registro */
    #registro input[type="text"], 
    #registro input[type="number"], 
    #registro select {
        background: #fff; 
        color: #333; 
    }

    #registro label {
        color: #fff; 
    }

    #registro select option {
        background: #fff; 
        color: #333;
    }

    .select {
        position: relative;
    }

    .select:before {
        content: '\f078';
        font-family: 'fontawesome-all';
        position: absolute;
        right: 0.5em;
        top: 0;
        line-height: 2.75em;
        color: rgba(0, 0, 0, 0.15);
        z-index: 10;
    }
    
    .button {
        transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
        background: #063a10;
        border-radius: 4px;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8em;
        font-weight: 400;
        height: 3.5em;
        line-height: 3.5em;
        outline: 0;
        padding: 0 1.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

        .button:hover {
            background: #1ca467;
            color: #fff !important;
        }

        .button.alt {
            background: transparent;
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
            color: #fff;
        }

        .button.alt:hover {
            background: rgba(255, 255, 255, 0.1);
            color: #fff !important;
        }

    ul.actions {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
        ul.actions.special {
            justify-content: center;
            margin-top: 2em;
        }

        ul.actions li {
            padding: 0 0 0 1em;
            vertical-align: middle;
        }

            ul.actions li:first-child {
                padding-left: 0;
            }
/* Secciones y Fondos */

    section {
        padding: 6em 0;
        scroll-margin-top: 90px;
    }

        section.main {
            padding: 0;
        }

            section.main > header {
                padding: 4em 0;
                text-align: center;
            }

            section.main > .content {
                padding: 4em 0;
            }

                
                section.main > .content.style1, 
                section.main > .content.style2,
                section.main > .content.style3 {
                    
                    background: rgba(255, 255, 255, 0.05); 
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    border: 1px solid rgba(255, 255, 255, 0.1); 
                }

                #about .content .col-4 section {
                    background: rgba(255, 255, 255, 0.1); 
                    backdrop-filter: blur(10px); 
                    -webkit-backdrop-filter: blur(10px); 
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    border-radius: 10px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
                    padding: 1.5em; 
                    color: #fff;
                    height: 100%; 
                }

/* Header */

    #header {
        position: relative;
        padding-top: 9em;
        padding-bottom: 6em; 
        background: #004d15 url("img/Zoo.jpeg") no-repeat center center; 
        background-size: cover;
        color: #fff;
        text-align: center;
    }
    
        #header:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(54, 65, 52, 0.85); 
            z-index: 0;
        }
        
        #header > * {
            position: relative;
            z-index: 1;
        }

        #header h1 {
            font-size: 4.5em; 
            font-weight: 100;
            line-height: 1em; 
            margin-bottom: 0.25em; 
            opacity: 0; 
            transform: translateY(-50px); 
            animation: slideInFromTop 1s ease-out 0.5s forwards; 
        }

        #header p {
            font-size: 1.2em;
            font-weight: 400; 
            color: rgba(255, 255, 255, 0.9); 
            margin-bottom: 3em; 
        }
        
        #nav-principal ul {
            display: flex;
            justify-content: center;
            margin-bottom: 2em;
        }
        
        #nav-principal li {
            padding: 0 1em;
        }

        
/* Nav-principal fijo para que el usuario siempre lo vea */
#nav-principal {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.6em 0;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(6px);
    z-index: 1000; 
    
}


/* Dashboard de Métricas */

#dashboard .metrica-card article {
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px);
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#dashboard .metrica-card article:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

#dashboard h3 {
    font-size: 1.2em;
    font-weight: 400;
    color: #00c500;
    margin-bottom: 0.5em;
}

#dashboard p {
    font-size: 3em;
    font-weight: 100;
    color: #ffffff;
    line-height: 1em;
    text-align: center;
}

/* Footer y Copyright */
    #footer {
        padding: 4em 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.3); 
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        color: rgba(255, 255, 255, 0.5);
    }

        #footer .copyright {
            font-size: 0.8em;
            color: rgba(255, 255, 255, 0.3);
        }
        
/* tabla de animales */
#listado-animales table {
    width: 100%;
    margin-bottom: 1em;
    color: #fff;
    border-collapse: collapse;
}

#listado-animales th, #listado-animales td {
    padding: 0.75em;
    text-align: left;
    border: solid 1px rgba(255, 255, 255, 0.1);
}

#listado-animales thead {
    background: rgba(255, 255, 255, 0.05);
    font-weight: 400;
}

#listado-animales tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.02);
}

#listado-animales .accion-col {
    text-align: center;
    width: 25%;
}

#listado-animales .estado-critico {
    background-color: #cc0000; 
    color: #fff; 
    font-weight: 700;
}

#listado-animales .boton-eliminar {
    background: #d53c3c;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 0.7em;
    font-weight: 400;
    cursor: pointer;
    margin-left: 0.5em; 
}

#listado-animales .boton-eliminar:hover {
    background: #c22020;
}
#listado-animales .boton-actualizar {
    background: #007836;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 0.7em;
    font-weight: 400;
    cursor: pointer; 
    margin-left: 0.5em; 
}
#listado-animales .boton-actualizar:hover {
    background: #056b1b;
}


/*AJUSTES PARA DISPOSITIVOS MÓVILES*/


@media screen and (max-width: 736px) { 
    
    body {
        font-size: 14pt; 
        
        -ms-overflow-style: none; 
        scrollbar-width: none;  
        -webkit-overflow-scrolling: touch; 
    }
    body::-webkit-scrollbar {
        display: none;
    }
    html {
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
    html::-webkit-scrollbar {
        display: none;
    }
    

    section {
        padding: 4em 0; 
    }

    .row > .col-12-narrow, 
    .row > .col-6-narrow,
    .row > .col-4-narrow,
    .row > .col-4, 
    .row > .col-6, 
    .row > .col-12 { 
        width: 100% !important; 
    }
    
    .row { 
        margin-top: -15px;
        margin-left: -15px; 
    }
    .row > * { 
        padding: 15px 0 0 15px; 
    }
    
    #header {
        padding: 4em 0; 
    }
    #header h1 {
        font-size: 3em; 
    }

    #nav-principal ul {
        flex-direction: column; 
    }
    #nav-principal li {
        padding: 0.5em 0; 
    }

    #listado-animales .content {
        overflow-x: auto; 
    }
    #listado-animales table {
        min-width: 650px; 
        display: block; 
    }
    #listado-animales .accion-col {
        min-width: 150px; 
        width: auto;
    }
    
    #listado-animales .boton-actualizar, 
    #listado-animales .boton-eliminar {
        display: block;
        margin: 0.25em auto;
    }
    
    ul.actions.special {
        flex-direction: column;
    }
    ul.actions.special li {
        padding: 0.5em 0;
    }
    /* Ajuste de scroll para tener el nav fijo en móvil */
    section {
        scroll-margin-top: 160px;
    }
}


/* DEFINICIÓN DE ANIMACIONES */



@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(60, 147, 213, 0.4);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(60, 147, 213, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(60, 147, 213, 0);
    }
}


#registro input[type="submit"] {
    animation: pulse 2s infinite;
}



.carousel {

    margin: 100px auto;

    width: 90%;

   

    display: flex;

    overflow-x: auto;

}

.carousel::-webkit-scrollbar{

    display: none;

}

.group{

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 1em;

    animation: spin 50s infinite linear;

    padding-right: 1em;

}

.card {

    flex: 0 0 5em;

    height: 5em;

    background: #3c93d5;

    font-size: 3rem;

    border-radius: .2em;

    text-align: center;

    align-content: center;

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

   

}

.group .card:nth-child(1) {

    background-image: url('img/BellaLeon.png');

}

.group .card:nth-child(2) {

    background-image: url('img/ThonyManati.png');

}

.group .card:nth-child(3) {

    background-image: url('img/Recorrido.jpeg');

}

.group .card:nth-child(4) {

    background-image: url('img/Capibara.jpeg');

}

.group .card:nth-child(5) {

    background-image: url('img/MariaBella\ Guacamayo.png');

}

.group .card:nth-child(6) {

    background-image: url('img/MisselOso.png');

}

@keyframes spin{

    from {translate: 0;}

    to {translate: -100%;}

} 

