@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic");

/*
 * CSS Base y Reseteo
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
}

ol, ul {
    list-style: none;
}

input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* Tipografía y Estilos Básicos */

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        background: #F8F8F8;
        font-family: 'Roboto', sans-serif;
        font-weight: 300; 
        font-size: 17pt;
        line-height: 1.75em;
        color: #888;
        -webkit-text-stroke: 0.1px;
    }

    .dark {
        color: rgba(255, 255, 255, 0.65);
    }

    h1, h2, h3, h4, h5, h6 {
        color: #04db04;
        margin: 0 0 1em 0;
        font-weight: 100;
        line-height: 1.5em;
    }

    .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
        color: #fff;
    }
    
    a {
        -moz-transition: border-bottom-color 0.25s ease-in-out;
        -webkit-transition: border-bottom-color 0.25s ease-in-out;
        -ms-transition: border-bottom-color 0.25s ease-in-out;
        transition: border-bottom-color 0.25s ease-in-out;
        color: inherit;
        text-decoration: none;
        border-bottom: dotted 1px rgba(0, 0, 0, 0.25);
    }

        .dark a {
            color: #fff;
            border-bottom-color: rgba(255, 255, 255, 0.5);
        }

    p, ul, ol, dl, table {
        margin-bottom: 1em;
    }

    header {
        margin-bottom: 1em;
    }

/* Contenedor y Media Queries */
.container {
        margin: 0 auto;
        max-width: 100%;
        width: 1360px;
    }

        .container.medium {
            width: 1020px;
        }

        @media screen and (max-width: 1680px) {
            .container { width: 1200px; }
                .container.medium { width: 900px; }
        }

        @media screen and (max-width: 1280px) {
            .container { width: 960px; }
                .container.medium { width: 720px; }
        }

        @media screen and (max-width: 1000px) {
            .container { width: 100% !important; }
        }


/* Sistema de Rejilla (Row y Col) */

    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
        margin-top: -25px; 
        margin-left: -25px;
    }

        .row > * {
            box-sizing: border-box;
            padding: 25px 0 0 25px; 
        }
        
        /* Columnas Desktop */
        .row > .col-4 { width: 33.33333%; }
        .row > .col-6 { width: 50%; }
        .row > .col-12 { width: 100%; }

        /* Columnas Móvil (Responsivo) */
        @media screen and (max-width: 736px) { 
            .row > .col-12-narrow { width: 100%; } 
            .row > .col-6-narrow { width: 100%; }
            .row > .col-4-narrow { width: 100%; }
        }
        
        /* Gutter Específico */
        .row.gtr-50 { margin-top: -25px; margin-left: -25px; } 
            .row.gtr-50 > * { padding: 25px 0 0 25px; }

/* Formularios */

    input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        border: none;
        color: inherit;
        display: block;
        outline: 0;
        padding: 0 1em;
        text-decoration: none;
        width: 100%;
        height: 2.75em;
    }
    
    label {
        color: #fff;
        cursor: default;
        display: block;
        font-size: 0.9em;
        font-weight: 400;
        margin: 0 0 0.5em 0;
    }

    .select {
        position: relative;
    }

    .select:before {
        content: '\f078';
        font-family: 'fontawesome-all';
        position: absolute;
        right: 0.5em;
        top: 0;
        line-height: 2.75em;
        color: rgba(0, 0, 0, 0.15);
        z-index: 10;
    }
    
    .button {
        background: #3c93d5;
        border-radius: 4px;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8em;
        font-weight: 400;
        height: 3.5em;
        line-height: 3.5em;
        outline: 0;
        padding: 0 1.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

        .button:hover {
            background: #4ca3e5;
            color: #fff !important;
        }

        .button.alt {
            background: transparent;
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
            color: #fff;
        }

        .button.alt:hover {
            background: rgba(255, 255, 255, 0.1);
            color: #fff !important;
        }

    ul.actions {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        ul.actions li {
            padding: 0 0 0 1em;
            vertical-align: middle;
        }

            ul.actions li:first-child {
                padding-left: 0;
            }
/* Secciones y Fondos */

    section {
        padding: 6em 0;
    }

        section.main {
            padding: 0;
        }

            section.main > header {
                padding: 4em 0;
                text-align: center;
            }

            section.main > .content {
                padding: 4em 0;
            }

                section.main > .content.style1 {
                    background: #004301; 
                }

                section.main > .content.style2 {
                    background: #004d15; 
                }

                section.main > .content.style3 {
                    background: #007c1b; 
                }

/* Header (Principal) */

    #header {
        position: relative;
        padding: 6em 0;
        background: #004d15 url("../images/banner.jpg") no-repeat center center; 
        background-size: cover;
        color: #fff;
        text-align: center;
    }

        #header:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(33, 192, 1, 0.5); 
            z-index: 0;
        }

        #header > * {
            position: relative;
            z-index: 1;
        }

        #header h1 {
            font-size: 3.5em;
            font-weight: 100;
        }
        
        #nav-principal ul {
            display: flex;
            justify-content: center;
            margin-bottom: 2em;
        }
        
        #nav-principal li {
            padding: 0 1em;
        }
        
/* Dashboard de Métricas */

#dashboard .metrica-card article {
    background-color: #f1f1f1;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

#dashboard h3 {
    font-size: 1.2em;
    font-weight: 400;
    color: #444;
    margin-bottom: 0.5em;
}

#dashboard p {
    font-size: 3em;
    font-weight: 100;
    color: #000;
    line-height: 1em;
    text-align: center;
}

/* Footer y Copyright */
    #footer {
        padding: 4em 0;
        text-align: center;
        background: #333;
        color: rgba(255, 255, 255, 0.5);
    }

        #footer .copyright {
            font-size: 0.8em;
            color: rgba(255, 255, 255, 0.3);
        }
        
/* Estilos para la tabla de animales (creada por JS) */
#listado-animales table {
    width: 100%;
    margin-bottom: 1em;
    color: #fff;
    border-collapse: collapse;
}

#listado-animales th, #listado-animales td {
    padding: 0.75em;
    text-align: left;
    border: solid 1px rgba(255, 255, 255, 0.1);
}

#listado-animales thead {
    background: rgba(255, 255, 255, 0.05);
    font-weight: 400;
}

#listado-animales tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.02);
}

#listado-animales .accion-col {
    text-align: center;
    width: 15%;
}

#listado-animales .boton-eliminar {
    background: #d53c3c;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 0.7em;
    font-weight: 400;
    cursor: pointer; /* Añadido para mejor usabilidad */
}

#listado-animales .boton-eliminar:hover {
    background: #e54c4c;
}